<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css'>
</head>

<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>
            {% if user %}
              <li role="logout"><a href="/auth/logout">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Boilerplate Node App</h3>
      </div>
      
      {% if errorMessage.length > 0 %}
        <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
      {% endif %}

      <div class='jumbotron'>
  			{% block body %} {% endblock %}
      </div>

      <footer class="footer">
        <p>&copy; Julio Canares 2014</p>
      </footer>

    </div>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
</body>
</html>